body {
    font-family: 'Roboto', sans-serif;
}
* {
    box-sizing: border-box;
}
.heder {
    border: 1px solid red;
}
.main {
    border: 1px solid red;
}
.footer {
    border: 1px solid red;
}
.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
html {
    scroll-behavior: smooth;
}
.nav-list {
    list-style: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
}
.nav-link {
    text-decoration: none;
}
.nav-link {
    color: blueviolet;
}
.nav-link {
    transition: .3s;
}
.section-profile-logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    filter: grayscale(0.2) brightness(1.05);
    transition: .3s;
  }
  .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  }